#recipe-popup-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #DEDBD2;
    color: white;
    z-index: 99999; /* Ska ju vara över allt! */
}

#recipe-popup-content {
    position: fixed;
    top: 0;
    min-height: 100vh;
    width: 100vw;
    padding: 30px;
    padding-bottom: 100px;
    z-index: 100;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: scroll;
}

#closePopupButton {
    color: black;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.5s ease;
    display: inline-block;
}

#closePopupButton:hover {
    transform: scale(1.1);
}