#mypage-bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #260c1a;
}

#mypage-bottom-container h1 {
    color: beige;
    margin-top: 80px;
    font-family: palmore_bold;
    font-size: 44px;
}

#saved-recipes-container {
    margin: 0 200px 80px 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

/* --------------------------- MOBILVERSION --------------------------- */
@media (max-width: 500px) {
    #saved-recipes-container {
        grid-template-columns: repeat(2, 1fr);
    }
}