#mypage-bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
}

#saved-recipes-container {
    width: 70vw;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}