#recipe-card {
    display: flex;
    flex-direction: column;
}

#rc-img {
    height: 200px;
    background-color: rgb(148, 113, 112);
}

#rc-info {
    display: flex;
    flex-direction: column;
}

#rc-review-heart {
    display: flex;
    justify-content: space-between;
}

.favorite {
    background-color: pink;
}