.rc {
    background-color: #fefdfe;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
}

.rc-img {
    height: 180px;
    background-size: cover;
    background-position: center;
}

.rc-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 12px;
    height: 180px;
    justify-content: space-between;
    font-family: 'gotu';
}

.rc-review-heart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.favorite {
    background-color: pink;
}

.rc-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#not-loged-in-popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    height: 100vh;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#not-loged-in-popup-content {
    padding: 50px;
    z-index: 100;
    background-color: rgb(184, 189, 184);
    color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}

#close-popup {
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.5s ease;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

#close-popup:hover {
    transform: scale(1.1);
    color: rgb(124, 146, 139);
}

#popup-links {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#popup-links a {
    border: 1px solid white;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
}

#not-loged-in-popup-text {
    padding: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#popup-links a:hover {
    color: rgb(124, 146, 139);
}

@media (max-width: 500px) {
    .rc {
        height: 250px;
        width: 170px;
    }

    .rc-info {
        font-size: 2.5vw;
    }
}