.recipe-card {
    background-color: #fefdfe;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
}

#rc-img {
    height: 180px;
    background-color: beige;
}

#rc-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 14px;
    height: 180px;
}

#rc-review-heart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.favorite {
    background-color: pink;
}