* {
    box-sizing: border-box;
}

#weeksRecipesContainer {
    height: 50vh;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
}

#dagens-recept-container {
    height: 30vh;
    background-color: rgb(226, 150, 43);
    margin: 0 200px  0 200px;
}


