#mypage-top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../img_for_design/herosectionImg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 100px;

}

#shadow {
    background-color: rgba(0, 0, 0, 0.648);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#my-page-info {
    width: 40vw;
    z-index: 1;
    padding-right: 40px;
}

#shopping-list-container {
    z-index: 2;
}

#shopping-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 400px;
    width: 300px;
    background-image: url(../../../img_for_design/inköpslista.png);
    background-position: center;
    background-size: cover;
}

#shopping-list:hover {
    cursor: pointer;
}

#mypage-top-container h1 {
    font-family: 'petit';
    color: rgb(245, 245, 235);
    font-size: 60px;

}

#mypage-top-container p {
    color: rgb(245, 245, 235);
    font-family: 'gotu';
    font-size: 16px;
}

#mypage-top-container li {
    color: rgb(245, 245, 235);
    font-family: 'gotu';
    font-size: 16px;
}

#mypage-top-container ul {
    padding-left: 15px;
}

#textgubbe-klicka-här {
    color: aliceblue;
}