#mypage-top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

#my-page-info {
    height: 60vh;
    width: 40vw;
    background-color: gray;
}

#shopping-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 60vh;
    width: 20vw;
    background-color: beige;
}