#check-box {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
}

.categories {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checked {
    background-color: black;
}