#au-container h1 {
    margin-top: 80px;
    text-align: center;
    font-family: 'palmore_bold';
    font-size: 54px;
}

#au-info {
    /* margin: 0 200px 80px 200px; */
    display: flex;
    gap: 20px;
    font-family: gotu;
    justify-content: center;
}

#au-img-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#au-img-container div:first-child {
    /* display: flex; */
    gap: 20px;
}

#au-img-team {
    width: 300px;
    height: 200px;
    background-image: url(./../../../img_for_design/hero-section.jpg);
    background-size: cover;
    background-position: center;
}

#au-img-icon {
    width: 250px;
    height: 300px;
    background-image: url(./../../../img_for_design/spatserandeFiskGubbeSvart.png);
    background-size: cover;
    background-position: center;
}

#au-img-logo {
    width: 150px;
    height: 150px;
    background-image: url(./../../../img_for_design/litenLogoSvart.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

#au-left {
    width: 550px;
}

/* --------------------------- MOBILVERSION --------------------------- */
@media (max-width: 500px) {
    #au-info {
        margin: 0 30px 80px 30px;
        flex-direction: column;
    }

    #au-container h1 {
        font-size: 10vw;
    }

    #au-info {
        font-size: 3.5vw;
    }

    #au-left {
        width: 90%;
    }
}