#about-us-section {}

#about-us-container h1 {
    margin-top: 80px;
    text-align: center;
    font-family: 'palmore_bold';
    font-size: 54px;
}

#about-us-info {
    margin: 0 200px 80px 200px;
    display: flex;
    gap: 20px;
    font-family: gotu;
}

#about-us-info div:last-child {
    /*width: 200px;*/
}

#au-right {
    display: flex;
    flex-direction: column;
}

#img-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#img-au-top {
    display: flex;
    gap: 20px;
}

#img-au-logo {
    width: 200px;
    height: 200px;
    background-image: url(./../../../img_for_design/Untitled_Artwork\ 3.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    background-color: black;
}

#img-au-team {
    background-image: url(./../../../img_for_design/hero-section.jpg);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 200px;
}

#img-au-icon {
    background-image: url(./../../../img_for_design/Untitled_Artwork\ 4.png);
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 300px;
}