body {
    margin: 0;
}

#wrapper-login {
    height: 100vh;
    background-color: #dfdcd3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#login-container h1 {
    color: #260c1a;
    font-size: 74px;
    font-family: 'petit';
    text-align: center;
    margin-bottom: 25px;
}

#login-container input {
    width: 250px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 1px 1px 6px black;
    outline: none;
    font-family: 'gotu';
    text-align: center;
    padding: 5px 20px 5px 20px;
}

#login-button {
    background-color: #260c1a;
    color: #dfdcd3;
    font-family: 'gotu';
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    margin-top: 10px;
    border: 1px solid black;
    width: 150px;
}

#login-button:hover {
    background-color: #333132;
}


#login-container p {
    font-family: 'gotu';
    margin-bottom: 0;
}

#login-container a {
    color: black;
    font-family: 'gotu';
    font-size: 18px;
}

#feedback {
    color: green;
}