#recipe-section {
    background-color: #B0C4B1;
    max-width: 800px;
    margin: auto;
    /* margin-top: 100px; */
}

#recipe-info-container {
    display: flex;
}

#recipe-info {
    flex-grow: 1;
}

#title-heart-container {
    display: flex;
    justify-content: space-between;
}

#recipe-image {
    height: 250px;
    width: 200px;
    background-color: #14342B;
}

#recipe-todo-container {
    display: flex;
    justify-content: center;
}