#recipe-section {
    max-width: 800px;
    margin: auto;
    /* margin-top: 100px; */
}

#recipe-info-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

#recipe-info {
    width: 500px;
    margin-right: 50px;
}

#recipe-info h1 {
    font-family: 'petit';
    color: rgb(9, 9, 9);
    font-size: 48px;
}

#recipe-info h3 {
    font-family: 'gotu';
    color: rgb(9, 9, 9);
    font-size: 14px;
    margin-top: 0px;
}

#recipe-info h4:first-of-type {
    font-family: 'gotu';
    color: rgb(9, 9, 9);
    font-size: 16px;
    margin-top: 60px;
    width: 550px;
}

#recipe-info h4 {
    font-family: 'gotu';
    color: rgb(9, 9, 9);
    font-size: 16px;
}

#portions,
#cooking-time {
    display: flex;
    gap: 10px;
    align-items: center;
    color: black;
    font-family: gotu;
}

#portions img {
    height: 15px;
}

#cooking-time img {
    height: 20px;
}

#title-heart-container {
    display: flex;
    gap: 40px;
    align-items: center;
    color: black;
    /* height: 100px; */
    /* margin: 20px; */
}

#title-heart-container h2 {
    cursor: pointer;
    margin: 0;
}

#title-heart-container h2:hover {
    color: rgb(142, 141, 141);
}

#recipe-image {
    height: 1fr;
    width: 350px;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
}

#recipe-todo-container {
    display: flex;
    background-color: rgb(22, 22, 22);
    margin-top: 80px;
    padding: 0px;
    color: rgb(220, 220, 220);
    padding: 20px 40px 40px 40px;
    border-radius: 10px;
    gap: 50px;
}

#recipe-todo-container h2 {
    font-family: 'palmore_bold';
    font-size: 30px;
}

#recipe-todo-container div:first-of-type {
    flex-grow: 1;
    flex-basis: 0;
}

#recipe-todo-container div {
    flex-grow: 2;
    flex-basis: 0;
}

#recipe-todo-container div li {
    margin-bottom: 10px;
    color: rgb(203, 203, 203);
    font-family: 'gotu';
}

#recipe-todo-container div p {
    margin-bottom: 10px;
    margin-top: 0px;
    color: rgb(203, 203, 203);
    font-family: 'gotu';
}

#recipe-todo-container div ol {

    padding-left: 14px;
}

/* --------------------------- MOBILVERSION --------------------------- */
@media (max-width: 500px) {
    #recipe-todo-container {
        flex-direction: column;
        margin-top: 20px;
        padding: 20px;
        gap: 10px;
    }

    #recipe-todo-container p,
    #recipe-todo-container li {
        font-size: 13px;
    }

    #recipe-info-container {
        flex-direction: column;
    }

    #recipe-info {
        width: auto;
    }

    #recipe-image {
        height: 200px;
        width: 100%;
        border-radius: 10px;
    }

    #title-heart-container{
        width: 90vw;
        margin-top: 0;
        gap: 15px;
        display: flex;
        justify-content: space-between;
    }

    #recipe-info h1 {
        margin: 0;
        line-height: 50px;
        font-size: 35px;
    }

    #recipe-info h4:first-of-type {
        width: 90vw;
        margin: auto;
        font-size: 14px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    #wrapperToSubInfoPopup {
        display: flex;
        font-size: 13px;
        gap: 25px;
        width: 90vw;
        margin-bottom: 10px;
    }

    #recipe-info h3 {
        font-size: 11px;
        margin-top: 10px;
    }
}