#review-section {
    display: flex;
    justify-content: center;
}

#review-container {
    /* margin: 20px 0 20px 0; */
    background-color: #14342B;
    width: 800px;
}

#icon-review-container {
    display: flex;
}