#recipe-inspiration-section {
    background-color: #dfdcd3;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 40px;
}

#recipe-inspiration-section h2 {
    margin-top: 80px;
    font-family: "palmore_bold";
    font-size: 54px;
}

#recipe-inspiration-container {
    margin: 0 200px 80px 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* --------------------------- MOBILVERSION --------------------------- */
@media (max-width: 500px) {
    #recipe-inspiration-section h2 {
        font-size: 10vw;
        width: 60vw;
        text-align: center;
    }

    #recipe-inspiration-section {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    #recipe-inspiration-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2vw;
    }
}