#hero-section {
    height: 100vh;
    background-image: url(./../../../img_for_design/kokey.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#hero-section>div {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;


}

#hero-section>div>div {
    background-image: url(../../../img_for_design/gaffelSmal.png);
    background-position: center;
    background-size: 130%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#hero-section h1 {
    color: #dfdcd3;
    font-family: "petit";
    font-size: 200px;
    text-shadow: 1px 1px 10px black;
}

@media (max-width: 500px) {
    #hero-section>div>div {
        background-size: 120%;
        height: 700px;
    }

    #hero-section h1 {
        font-size: 19vw;
    }
}