<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./recipes_top/recipes_top.css">
    <link rel="stylesheet" href="./recipes_bottom/recipes_bottom.css">
    <link rel="stylesheet" href="./recipes_left/recipes_left.css">
    <link rel="stylesheet" href="./recipes_right/recipes_right.css">
    <link rel="stylesheet" href="./../../components/recipe_popup/recipe_popup.css">
    <link rel="stylesheet" href="./../footer/footer.css">
    <link rel="stylesheet" href="./recipes.css">
    <link rel="stylesheet" href="./../../components/recipe_popup/recipe_section/recipe_section.css">
    <link rel="stylesheet" href="./../../components/recipe_popup/review_section/review_section.css">
    <title>NamNam</title>
</head>

<body>
    <div id="wrapper-recipes"></div>

    <script src="./../nav/nav.js"></script>

    <script src="./recipes_top/recipes_top.js"></script>
    <script src="./recipes_bottom/recipes_bottom.js"></script>
    <script src="./recipes_categories/recipes_categories.js"></script>
    <script src="./recipes_card/recipes_card.js"></script>
    <script src="./recipes_left/recipes_left.js"></script>
    <script src="./recipes_right/recipes_right.js"></script>
    <script src="./../../components/recipe_popup/review_section/review_section.js"></script>
    <script src="./../../components/recipe_popup/recipe_section/recipe_section.js"></script>
    <script src="./../../components/recipe_popup/recipe_popup.js"></script>
    <script src="./../footer/footer.js"></script>
    <script src="./../../state/state.js"></script>
    <script src="./recipes.js"></script>

</body>

</html>