#shoppingslist-section {
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-family: "gotu";
    padding: 15px;
    box-shadow: 1px 1px 10px black;
    margin: auto;
    min-height: 70vh;
    width: 400px;
}

#shoppingslist-section>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#shoppingslist-section h1 {
    font-family: "petit";
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
}

#input-button {
    display: flex;
    gap: 5px;
}

#input-button button {
    border: none;
    font-family: 'gotu';
    font-size: 18px;
    background-color: beige;
}

#input-button button:hover {
    cursor: pointer;
}

#shoppingslist-section input {
    border: none;
    border-bottom: 1px solid black;
    background-color: beige;
    width: 300px;
    outline: none;
}

#shoppingslist-section input:active {
    border: none;
}

#shoppingslist-section .check-box {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid black;
    /*background-color: white;*/
}

#items-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border-bottom: 1px solid black;
}

.item-box {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.delete-box {
    font-size: 12px;
}

.checked {
    background-color: black;
}

