#recipe-page-left-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 20px;
}

#categories-container h1 {
    font-family: "palmore_bold";
    font-size: 44px;
    margin-bottom: 0px;
}

#categories {
    font-family: "gotu";
    font-size: 14px;
}

#search-field {
    padding: 5px;
    border: none;
    border-radius: 15px;
    font-family: "gotu";
    font-size: 12px;
    outline: none;
    color: black;
    background-color: rgb(241, 241, 241);
    padding-left: 10px;
}

.check-box {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #fefdfe;
}
.check-box:hover{
    cursor: pointer;
}
.category-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checked {
    background-color: black;
}

/* --------------------------- MOBILVERSION --------------------------- */
@media (max-width: 500px) {
    #recipe-page-left-container {
        flex-direction: column-reverse;
        margin-right: 0;
        justify-content: center;
        align-items: center;
    }

    #search-field {
        width: 90vw;
    }

    #categories-container h1 {
        margin-top: 0;
        text-align: center;
    }

    #categories {
        display: grid;
        grid-template-columns: repeat(3, 30vw);
        gap: 0;
        justify-content: center;
        align-items: center;
    }
}