* {
    box-sizing: border-box;
}

#daily-recipes-section {
    height: 120vh;
    background-color: #dfdcd3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "petit";
}


#daily-recipes-container {
    margin: 0 200px 0 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    font-family: "gotu";
}

/*
#daily-recipes-container div {
    background-color: rgb(213, 212, 220);
}*/