* {
    box-sizing: border-box;
}

#daily-recipes-section {
    height: 50vh;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
}

#daily-recipes-container {
    height: 30vh;
    background-color: rgb(226, 150, 43);
    margin: 0 200px 0 200px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: auto;
    gap: 20px;
}