body {
    margin: 0;
}

#wrapper-register {
    height: 100vh;
    background-color: #dfdcd3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#register-container h1 {
    color: #260c1a;
    font-size: 74px;
    font-family: 'petit';
    text-align: center;
    margin-bottom: 25px;
}

#register-container input {
    width: 250px;
    padding: 3px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px black;
    outline: none;
    font-family: 'gotu';
    text-align: center;
}

#register-button {
    background-color: #260c1a;
    color: #dfdcd3;
    font-family: 'gotu';
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
}

#register-container p {
    font-family: 'gotu';
    margin-bottom: 0;
}

#register-container a {
    color: black;
    font-family: 'gotu';
    font-size: 18px;
}

#feedback {
    color: #762d56;
}