body {
    margin: 0;
}

#wrapper-register {
    height: 100vh;
    background-color: #dfdcd3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#register-container h1 {
    color: #260c1a;
    font-family: "petit";
    font-size: 74px;
}

#register-container input {
    width: 250px;
    padding: 2px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px black;
    font-family: "gotu";
    text-align: center;
}

#register-button {
    background-color: #260c1a;
    color: #dfdcd3;
    border-radius: 20px;
    padding: 10px;
    font-family: "gotu";
}

#register-container p {
    font-family: "gotu";
}

#register-container a {
    color: black;
    font-family: "gotu";
}

#feedback {
    color: #762d56;
}