#heroSectionContainer {
    height: 90vh;
    background-color: rgb(145, 121, 92);
    display: flex;
    align-items: center;
    justify-content: center;
}

#heroSectionContainer h1 {
    font-size: 94px;
}