#heroSectionContainer {
    height: 95vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#heroSectionContainer h1 {
    color: #dfdcd3;
    font-size: 184px;
}