nav {
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    z-index: 1;
}

#logo-nav {
    display: flex;
    font-family: 'petit';
    font-size: 20px;
    color: white;
    gap: 0.5vw;
}

#logo-nav img {
    height: 3vh;
}

nav div:first-child {
    display: flex;
    gap: 3vw;
}

nav a {
    text-decoration: none;
    font-family: "gotu";
    color: #fefdfe;
}

nav a:hover {
    text-shadow: 1px 1px 10px rgb(189, 188, 188);
}