nav {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    width: 100vw;
}

nav div:first-child {
    display: flex;
    gap: 3vw;
}

nav a {
    text-decoration: none;
    font-family: "gotu";
    color: #fefdfe;
}