nav {
    height: 6vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    z-index: 2;
}

#logo-nav {
    display: flex;
    font-family: 'petit';
    font-size: 20px;
    color: white;
    gap: 0.5vw;
}

#logo-nav img {
    height: 25px;
}

nav div:first-child {
    display: flex;
    gap: 3vw;
}

nav a {
    text-decoration: none;
    font-family: "gotu";
    color: #fefdfe;
    filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.5));
    transition:  0.3s ease;
}

nav a:hover {
    text-shadow: 1px 1px 10px rgb(255, 254, 254);
   /* text-shadow: 1px 1px 10px rgb(189, 188, 188); */
}

.active-link {
    border-bottom: 1px solid rgb(189, 188, 188);
}

/* --------------------------- MOBILVERSION --------------------------- */
@media (max-width: 500px) {
    nav a {
        font-size: 3vw;
    }

    #logo-nav {
        font-size: 4vw;
    }

    #logo-nav img {
        height: 2.5vh;
    }

    nav {
        z-index: 5;
    }

    .navLogoNamnamTitle {
        display: none;
    }
}