#shoppingslist-popup-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #DEDBD2;
    color: white;
    padding: 30px;
    position: absolute;
    padding-bottom: 100px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    overflow-y: scroll;
    padding-top: 50px ;
    background-image: url(../../img_for_design/rutigtbord.png);
    background-position: center;
    background-size: cover;
    
}

#closeShoppinglistPopupButton {
    color: rgb(240, 178, 7);
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    width: 40px;
    text-align: center;
    /*transition: transform 0.5s ease;*/
    /* display: inline-block; */
    /* margin: 80px 0 80px 200px; */
}

#closeShoppinglistPopupButton:hover {
    /* transform: scale(1.1); */
}